<div class='container w-50 my-5'>
  <h2 class='my-3'>Edit restaurant information</h2>
  <form action='/restaurants/{{restaurant._id}}/edit' method='POST'>
    <div class='mb-3'>
      <label for='restaurant-name' class='form-label'>名稱</label>
      <input
        type='text'
        class='form-control'
        id='restaurant-name'
        name='name'
        value='{{restaurant.name}}'
        required
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-category' class='form-label'>類別</label>
      <select
        class='form-select'
        id='restaurant-category'
        name='category'
        aria-label='Default select example'
      >
        <option value='其他' {{select '其他' restaurant.category}}>----</option>
        <option value='美式' {{select '美式' restaurant.category}}>美式</option>
        <option
          value='義式餐廳'
          {{select '義式餐廳' restaurant.category}}
        >義式餐廳</option>
        <option
          value='日本料理'
          {{select '日本料理' restaurant.category}}
        >日本料理</option>
        <option
          value='中東料理'
          {{select '中東料理' restaurant.category}}
        >中東料理</option>
        <option value='酒吧' {{select '酒吧' restaurant.category}}>酒吧</option>
        <option value='咖啡' {{select '咖啡' restaurant.category}}>咖啡</option>
      </select>
    </div>

    <div class='mb-3'>
      <label for='restaurant-location' class='form-label'>地址</label>
      <input
        type='text'
        class='form-control'
        id='restaurant-location'
        name='location'
        value='{{restaurant.location}}'
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-googleMap' class='form-label'>Map</label>
      <input
        type='url'
        class='form-control'
        id='restaurant-googleMap'
        name='google_map'
        value='{{restaurant.google_map}}'
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-phone' class='form-label'>電話</label>
      <input
        type='tel'
        class='form-control'
        id='restaurant-phone'
        name='phone'
        value='{{restaurant.phone}}'
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-image' class='form-label'>圖片</label>
      <input
        type='url'
        class='form-control'
        id='restaurant-image'
        name='image'
        value='{{restaurant.image}}'
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-rating' class='form-label'>星級</label>
      <input
        type='number'
        class='form-control'
        id='restaurant-rating'
        name='rating'
        min='0.0'
        max='5.0'
        step='0.1'
        value='{{restaurant.rating}}'
      />
    </div>

    <div class='mb-3'>
      <label for='restaurant-description' class='form-label'>描述</label>
      <textarea
        class='form-control'
        id='restaurant-description'
        name='description'
        rows='3'
      >{{restaurant.description}}</textarea>
    </div>

    <button type='submit' class='btn btn-primary'>Save</button>
    <a href='/' class='btn btn-secondary'>Back</a>
  </form>
</div>