<!-- search bar -->
<div class='container search-bar'>
  <div class='search-bar-outer'>
    <div class='search-bar-inner'>
      <form action='/search'>
        <h4 class='mb-2'>尋找餐廳：</h4>
        <div class='input-group'>
          <input
            type='text'
            name='keyword'
            class='form-control'
            placeholder='輸入餐廳、分類'
            aria-label='Restaurant Name...'
            value='{{keyword}}'
            aria-describedby='search-button'
          />
          <div class='input-group-append'>
            <button
              class='btn btn-major btn-lg'
              type='submit'
              id='search-button'
            ><i class='fa-solid fa-magnifying-glass'></i></button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class='dropdown d-flex justify-content-end'>
    <a
      class='btn btn-secondary dropdown-toggle'
      href='#'
      role='button'
      id='dropdownMenuLink'
      data-bs-toggle='dropdown'
      aria-expanded='false'
    >
      Sort by
    </a>
    <ul class='dropdown-menu' aria-labelledby='dropdownMenuLink'>
      <li><a class='dropdown-item' href='/sort_asc'>A > Z</a></li>
      <li><a class='dropdown-item' href='/sort_desc'>Z > A</a></li>
      <li><a class='dropdown-item' href='/sort_cat'>類別</a></li>
      <li><a class='dropdown-item' href='/sort_loc'>地區</a></li>
    </ul>
  </div>
</div>

<!-- restaurant list -->
<div class='container mt-5'>
  <div class='row'>
    <div class='col-md-10 col-12 mx-auto'>
      <div class='row row-cols-sm-3 restaurant-list'>
        {{#each restaurants}}
          <div class='card-deck'>
            <div class='card mb-3'>
              <img
                class='card-img-top'
                src='{{this.image}}'
                alt='{{this.name}}'
              />
              <div class='card-body p-3'>
                <h6 class='card-title mb-1'>{{this.name}}</h6>

                <div class='restaurant-category mb-1'>
                  <i class='fas fa-utensils pr-2'></i>
                  {{this.category}}
                </div>

                <span class='badge rounded-pill bg-danger'>
                  {{this.rating}}
                  <i class='fas fa-star fa-xs'></i>
                </span>

                <div
                  class='restaurant-function mt-2 h-25 gap-2 d-flex align-items-start justify-content-end'
                >
                  <a
                    href='./restaurants/{{this._id}}'
                    class='btn btn-primary btn-sm'
                  >Detail</a>
                  <a
                    href='./restaurants/{{this._id}}/edit'
                    class='btn btn-secondary btn-sm'
                  >Edit</a>
                  <form
                    action='./restaurants/{{this._id}}?_method=DELETE'
                    method='POST'
                    style='display: inline; height: 20px;'
                  >
                    <button
                      type='submit'
                      class='btn btn-danger btn-sm'
                    >delete</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {{/each}}
        <a href='./restaurants/add' class='link-primary'>
          <div class='card text-center mb-3'>
            <div class='card-body p-3'>
              <i class='fa-solid fa-plus'></i>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>